@page "/"
@using System.Reflection
@inject UserService userService
@inject ServerService serverService
@inject ChannelService channelService
@inject MessageService messageService
@inject UserStateService userStateService
@inject IDialogService dialogService

@if (userStateService.loggedInUserId is null)
{
    <p>@GetInformationalVersion()</p>
    <p>@GetVersion()</p>
    <LoginPage OnLogin="OnLoginSuccess" />
    return;
}

<MudAppBar Elevation="0">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
    <MudSpacer />
    <MudImage Fluid="false" Height="50" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="images/mascot_small.png" />
    <MudText Typo="Typo.h6">flycatcher.chat</MudText>
    <MudSpacer />
    <MudText Typo="Typo.h6">@userService.GetUsername((int)userStateService.loggedInUserId!)</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.ExitToApp" Color="Color.Dark" OnClick="@(() => Logout())" />
</MudAppBar>
<MudDrawer ClipMode="DrawerClipMode.Never" Variant="@DrawerVariant.Temporary" @bind-Open="_drawerOpen" Elevation="1">
    <MudNavMenu Style="display: flex; flex-direction: column;">
        <div style="margin-top: 20px; justify-content: center; text-align: center;">
            <MudButton Style="width: 70%" Variant="Variant.Filled" OnClick="CreateServer">Create Server</MudButton>
            <br />
            <br />
        </div>
        <MudButton Variant="Variant.Text" OnClick="GoHome">Home</MudButton>
        @foreach (var server in userService.GetUserServers((int)userStateService.loggedInUserId!))
        {
            @if (server.Id == userStateService.selectedServerId)
            {
                <MudButton Variant="Variant.Text" Color="Color.Primary">@server.Name</MudButton>
                continue;
            }

            <MudButton Variant="Variant.Text" OnClick="() => SelectServer(server.Id)">@server.Name</MudButton>
        }
    </MudNavMenu>
</MudDrawer>

@if (userStateService.selectedServerId is not null)
{
    <ServerWidget ServerDeletedCallback="GoHome" @key=userStateService.selectedServerId />
    return;
}

<HomeWidget />

@code {
    bool _drawerOpen = false;

    private string GetInformationalVersion()
    {
        return Assembly.GetExecutingAssembly()
            .GetCustomAttribute<AssemblyInformationalVersionAttribute>()
            ?.InformationalVersion ?? "Unknown Version";
    }

    private string GetVersion()
    {
        return Assembly.GetExecutingAssembly().GetName().Version!.ToString();
    }

    private void OnLoginSuccess(int userId)
    {
        userStateService.loggedInUserId = userId;
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private async Task CreateServer()
    {
        var serverName = await ShowServerCreationDialog();
        if (serverName is null)
            return;

        await serverService.CreateServer(serverName, (int)userStateService.loggedInUserId!);
        StateHasChanged();
    }

    public async Task<string?> ShowServerCreationDialog()
    {
        var parameters = new DialogParameters();
        parameters.Add("Title", "Choose Server Name");
        parameters.Add("Message", "Please select a name for your new server.");

        var dialog = await dialogService.ShowAsync<StringDialog>("Create Server", parameters);
        var result = await dialog.Result;

        return (string?)result?.Data ?? null;
    }

    private async Task SelectServer(int serverId)
    {
        userStateService.selectedServerId = serverId;
        userStateService.selectedChannelId = null;
        userStateService.selectedFriendChat = null;
        _drawerOpen = false;
        StateHasChanged();
    }

    private void GoHome()
    {
        userStateService.selectedServerId = null;
        userStateService.selectedChannelId = null;
        _drawerOpen = false;
        StateHasChanged();
    }

    private void Logout()
    {
        userStateService.loggedInUserId = null;
        userStateService.selectedServerId = null;
        userStateService.selectedChannelId = null;
        userStateService.selectedFriendChat = null;
    }
}